
#nav{
    background-color: aquamarine;
    height: 100px;
}

.main{
     height: 600px;
     background-color: yellow;
}

#nav >h2{
    color: red;

    font-style: italic;
}

.main > p{
    font-size: 20px;
}
.main > p > span{
     font-weight: bold;
     text-decoration: underline;
     background-color: blueviolet;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main > ol{
    font-style: italic;

}
