
 /*! 1.tagname attribute Selector*/

nav{
    background-color: aqua;
    height: 100px;
}

main{
    height: 250px;
    background-color: blue;
}

/*2.id attribute selector*/
#logo{
    color: white;
}

section{
    background-color: blueviolet;
}
/*3. class attribute selector*/

.para{
    color: red;
}

/* 4. Universal selector */

*{
    text-align: center;
    font-style: italic;
}

/* 5. group selector*/

p ,#logo{
    text-decoration: underline;
}



